* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
}
footer{
  margin-top: 10px;
  font-family: verdana;
  font-weight: bolder;
  font-size: 10px;
  text-align: center;
}
body{
  background-color: #42445A;
}
#Menu{
  width: 70%;
  margin: 0px auto;
  opacity: 0;
}
#Menu li{
  animation: boc 0.3s 0s infinite ease-out forwards;
  list-style: none;
  display: block;
  width: 90%;
  margin: auto;
  background-color: #42445D;
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  color: #0A8FF6;
  border-radius: 40px;
  border: 5px solid #0A8FF6;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#Menu li:nth-child(even){
  animation-delay: 2s;
}
#Menu li:active{
  background: none;
  background-color: #0A8FF6;
  color: #42445A;
}
#Menu li:hover{
  animation: none;
}
@keyframes bl{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes boc{
    0%{
      border-top-color: aqua;
      color: #03CBFF;
    }
    25%{
      border-top-color: #04B3FF;
      border-right-color: aqua;
      color: #04B3FF;
    }
    50%{
      border-right-color: #04B3FF;
      border-bottom-color: aqua;
      color: #04A3FF;
    }
    75%{
      border-bottom-color: #03CBFF;
      border-left-color: aqua;
      color: #04B3FF
    }
    100%{
      border-left-color: #04B3FF;
      border-top-color: aqua;
      color: #03CBFF;
    }
}
#Menu{
  animation-name: bl;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-delay: 2.5s;
}
li img{
  width: 30px;
  height: 30px;
}

mark{
  background: none;
  position: absolute;
  width: 70%;
  margin-top: 70px;
}
@keyframes hello{
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
#hello{
  font-size: 20px;
  margin-left: 20%;
  font-weight: bold;
  color: aqua;
  font-family: sans-serif;
  animation: hello 2s 0s 1 ease-in-out forwards;
}


@keyframes wellicome{
  0%{
    margin-left: 100%;
    opacity: 0;
  }
  50%{
    margin-left: 15%;
    opacity: 1;
  }
  100%{
    margin-left: 15%;
    opacity: 0;
  }
}
#wellicome{
  opacity: 0;
  font-size: 25px;
  font-weight: bold;
  color: #04B3FF;
  font-family: sans-serif;
  animation: wellicome 3s 0s 1 ease-in-out forwards;
  text-align: center;
  animation-delay: 0.5s;
}

.clr{
  clear: both;
}
@media(min-width: 768px){
  #Menu{
    width: 20%;
    float: right;
    margin-right: 50px;
    animation-delay: 1s;
  }
  .desktop{
    display: flex;
    width: 70%;
    height: 85vh;
    float: left;
    margin: 20px 0 0 20px;
    background: none;
    border: 4px solid #04B3FF;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 130px;
    animation: boc 0.3s 0s infinite linear forwards;

  }
  mark{
    position: relative;
  }
  #hello{
    animation: none;
    margin: 0;
  }
  #wellicome{
    animation: none;
    opacity: 1;
    font-size: 16px;
    margin: 0;
  }
}

